@font-face {
  font-family: 'Vela Sans';
  src: url('../fonts/VelaSans-Regular.woff') format('woff'),
    url('../fonts/VelaSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vela Sans';
  src: url('../fonts/VelaSans-Medium.woff') format('woff'),
    url('../fonts/VelaSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vela Sans';
  src: url('../fonts/VelaSans-SemiBold.woff') format('woff'),
    url('../fonts/VelaSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vela Sans';
  src: url('../fonts/VelaSans-Bold.woff') format('woff'),
    url('../fonts/VelaSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}