:root {
  --color-black: #323338;
  --color-black-70: #323338B2;
  --color-black-60:  #32333899;
  --color-gray: #384C57;
  --color-gray-50: #F4F6FB;
  --color-gray-400: #5A5B5F;
  --color-whte: #FFFFFF;
  --color-primary: #3B8BEA;
  --color-accent: #78859F;
  --color-attention: #FD5D5D;
}