// Строка поиска

.searchbar {
  width: 100%;
  position: relative;

  &__input {
    display: block;
    width: 100%;
    padding: 8px 24px 8px 0;
    background: transparent;
    border: none;
    font-family: 'Vela Sans', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    color: var(--color-whte);
    border-bottom: 1px solid var(--color-whte);
    outline: none;

    &::placeholder {
      font-family: 'Vela Sans', sans-serif;
      font-size: 14px;
      line-height: 1.4;
      font-weight: 500;
      color: var(--color-whte);
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }

  &__btn {
    display: block;
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
    padding: 0;
    outline: none;
    position: absolute;
    bottom: 7px;
    right: 0;
  }
}